<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test API openAI</title>
</head>
<body>
    <main>
        <h1>Ciao PW4!</h1>
        <form action="" id="form">
            <input type="text" name="message" id="message">
            <button type="submit">Send</button>
        </form>
        <div id="chat-log"></div>
    </main>
    <script>
        const chatLog = document.getElementById('chat-log')
         const message = document.getElementById('message')
         const form = document.querySelector('form')
         form.addEventListener('submit', (e) => {
             e.preventDefault()
             const messageText = message.value
             message.value = ''
             const messageElement = document.createElement('div')
             messageElement.classList.add('message')
             messageElement.classList.add('message--sent')
             messageElement.innerHTML = `
                 <div class="message__text">${messageText}</div>
             `
             chatLog.appendChild(messageElement)
             chatLog.scrollTop = chatLog.scrollHeight
             fetch('http://localhost:3001', {
                 method: 'POST',
                 headers: {
                     'Content-Type': 'application/json'
                 },
                 body: JSON.stringify({
                    messages: [{ role: "system", content: messageText }],
                    model: "gpt-3.5-turbo",
                })
             })
             .then(res => {
                if (!res.ok) {
                    throw new Error(`Errore nella richiesta API: ${res.status} - ${res.statusText}`);
                }
                return res.json();
            })
            .then(data => {
                console.log('Data received:', data);

                if (data && data.response) {
                    const messageElement = document.createElement('div');
                    messageElement.classList.add('message');
                    messageElement.classList.add('message--received');
                    messageElement.innerHTML = `
                        <div class="message--text">${data.response}</div>
                    `;
                    chatLog.appendChild(messageElement);
                    chatLog.scrollTop = chatLog.scrollHeight;
                } else {
                    console.error('La risposta ricevuta non ha la struttura prevista:', data);
                }
            })
             .catch(error => {
                console.error('Errore nella richiesta:', error);
            });
         })
    </script>
</body>
</html>